<!--
Name: Kasra Rahimian
Email : krahimian@myseneca.ca
studentId: 118335207
Assignemnt3
Date: Oct 19th 2022
 Cylic URL https://lively-gear-bear.cyclic.app
 Github : kasrarh/WEB322
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment 3</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-lg bg-lg">
      <div class="container-fluid offset-md-8">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/Blog">Blog</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registration">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <nav class="navbar bg-white justify-content-right">
      <div class="container-fluid d-flex flex-row-reverse">
        <div class="col-8 col-lg-5">
          <form class="d-flex">
         
            <button
              class="btn btn-primary"
              type="submit"
              style="margin-right: 10px">Search</button>
            <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          </form>
        </div>
        <div class="col- col-lg-3 m-5">
          <a class="navbar-brand" href="/Blog">
            <img src="../pictures/logo.svg" width="40%" class="img-fluid" alt="logo-img" />
          </a>
        </div>
      </div>
    </nav>
  </header>

    <section style="background-color:rgb(195, 254, 255)">
      <div class="container" >
        <div class="row d-flex align-items-center justify-content-center ">
            <div class="col-lg-12 col-12 align-items-center">
                <h1>Register</h1>
            </div>
          <div class="col-md-12 col-lg-12 col-xl-12">
            <img src="../pictures/hero.jpg" class="img-fluid" />
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 p-5">
            <form action="/register" enctype="application/x-www-form-urlencoded" method="post"
            >
            
              <div class="form-outline mb-4">
                {{#if errorMessage}}<div class="alert alert-danger">
                    Error:{{errorMessage}}</div>{{/if}}
              </div>
              <input {{#if body.name}}value="{{body.ame}}"{{/if}} name="name" type="text" id="name"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="name">Full Name</label>
                <input {{#if body.username}}value="{{body.username}}"{{/if}} name="username" type="text" id="username"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="username">Username</label>

              <div class="form-outline mb-4">
                <input type="password" name="password" id="password" class="form-control form-control-lg"
                />
                <label class="form-label" for="password">Password</label>
              </div>
              <input {{#if body.phone}}value="{{body.phone}}"{{/if}} name="phone" type="text" id="phone"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="phone">Phone number</label>
                <input {{#if body.email}}value="{{body.email}}"{{/if}} name="email" type="email" id="email"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="email">Email</label>

              <div
                class="d-flex justify-content-around align-items-center mb-4"
              >
              <button  type="submit" value="register" name="register" class="btn btn-primary btn-lg btn-block"
              >
                Sign in
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer class="bg-light bg-gradient justify-content-between">
    <div class="row m-5">
      <div class="col-12 col-lg-6 mb-3">
        <h5>Pages</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="/Blog" class="nav-link p-0 text-muted">Blog</a>
          </li>
          <li class="nav-item mb-2">
            <a href="/registration" class="nav-link p-0 text-muted">Register</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="/login" class="nav-link p-0 text-muted">Login</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-6 mb-3">
        <h5>Socila media:</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="https://facebook.com"
              ><img
                height="30px"
                width="30px"
                src="../pictures/facebook.png"
                class="img-fluid"
                alt="facebook"
            /></a>
          </li>
          <li class="nav-item mb-2">
            <a href="https://instagram.com"
              ><img
                height="30px"
                width="30px"
                src="../pictures/instagram.png"
                class="img-fluid"
                alt="instagram"
            /></a>
          </li>
          <li class="nav-item mb-2">
            <a href="https://twitter.com"
              ><img
                height="30px"
                width="30px"
                src="../pictures/twitter.png"
                class="img-fluid"
                alt="twitter"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"
  ></script>
</html>

  <!-- bootstrap scripts -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"
  ></script>
</html>